process {
   executor = 'sge'
   queue = 'short.q'
   memory = '10G'
   scratch = true

    withName: getRepresentatives{
    container='representative_seqs_v01.sif'
    }

    withName: alignRepresentatives{
      container='omm_macse_v10.02.sif'
    }

    withName: trimSequences{
	   container='omm_macse_v10.02.sif'
    }

    withName: enrichNoIns{
      container='omm_macse_v10.02.sif'
    }

     withName:splitTrimSeq{
	  container='omm_macse_v10.02.sif'
    }

}

singularity {
    enabled = true
}
