process {
   executor = 'sge'
   queue = 'short.q'
   memory = '10G'

    withName: getRepresentatives{
    container='representative_seqs_v10.01.sif'
    }

    withName: alignRepresentatives{
      container='omm_macse_v10.02.sif'
    }

    withName: trimSequences{
	  container='omm_macse_v10.02.sif'
    }

    withName: enrichNoIns{
 	  container='omm_macse_v10.02.sif'
     }

}

singularity {
    enabled = true
}
